
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: url(../images/fondo.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #878787;
        
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #000000;
        font-family: "Times New Roman", Times, serif;
}

h2 {
	font-size: 2em;
}

h1 {
	font-size: 2.4em;
        padding-left: 5%;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
     font-family: "Comic Sans MS", cursive, sans-serif;
     color: #1A1A18;
     font-size: 1.1em;
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: underline;
        font-family: "Times New Roman", Times, serif;
	color: #1A1A18;
}

a:hover {
    text-decoration: line-through;
}
a:visited {
    color:#708;
}
#sidebar li.seleccionar{
    background: #383838;
}
#sidebar li.seleccionar a {
    color: white;
}
#wrapper{
	width: 980px;
	/*height: 60px;*/
        height: 39px;
	margin: 0 auto;
	padding: 0;
	background: #000000;
        font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Header */

#header {
	clear: both;
	width: 980px;
	height: 200px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: url(../images/header.jpg) no-repeat;
        background-size: 100%;
}
#header a {
	margin: 0;
	padding: 0px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
}
#header h3{
	color: WHITE;
}
/* Logo */

#logo {
	float: left;
	width: 50%;
	height: 70%;
	margin: 0;
	padding: 0px 0px 0px 60px;
	color: #000000;
	/*background: #000000;*/
        
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	padding-top: 20px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
} 
 
/* Search */

#search {
	width: 40%;
}
#sesion {
	float: right;
        background-color: black;
        border: 1px solid #888888;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 0 10px #888888;
        padding: 10px;
}
#sesion a:hover {
    text-decoration: none;
}
#sesion pre {
	margin: 0;
	padding: 0px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
}
#search form {
	margin-left: 4px;
        height : 0%;
        background-color: black;
        border: 1px solid #888888;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 0 10px #888888;
        padding: 10px;

}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 220px;
	padding: 8px 5px 6px 5px;
	border: none;
	background: url(../images/img02.jpg) no-repeat left top;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
}

#search-submit {
	width: 62px;
	height: 22px;
	border: none;
	background: none;
	color: #000000;
}

/* Menu */

#menu {
	float: left;
	width: 680px;
	height: 60px;
	padding: 0px;
        font-family: "Comic Sans MS", cursive, sans-serif;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	border-right: 1px solid #1A1A18; 
        height: 40px;
        margin-top: -1px;
        border-radius: 15px 15px 0px 0px; 
}

#menu ul li.activo {
	background-color: white;
}

#menu li:hover{
    background: white; 
    color: black;
}
#menu ul li.activo a:link, #menu ul li.activo a:visited {
	color: #FFF;
} 
#menu ul li.activo a:visited{
    color : black;
}

#menu a {
	display: block;
	height: 30px;
	/* padding: 25px 40px 0px 40px;
        padding: 12px 40px 0px 40px;*/
         padding: 8px 40px 0px 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
        
}

#menu a:hover{
    color: black;    
}
/*.current_page_item{
	background-color:yellow;
} */
#menu .current_page_item a {
	text-decoration: none;
	color: #FFFFFF;
}

#page {
	width: 900px;
	margin: 0px auto;
	padding: 0px 40px;
	background: #FFFFFF;
}

/* Content */

#content {
	float: right;
	width: 560px;
	padding: 30px 0px 0px 0px;
}

#estiloSesion{
    background-color: black;
    border: 1px solid #888888;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px #888888;
    padding: 10px;
    width: 178px;    
}
#estiloSesion a:link, #estiloSesion a:visited {
    float: right;
    border-right: 15px; 
}
#estiloSesion a:hover, #estiloSesion a:active {
    text-decoration: none;
}
.post {
	margin-bottom: 40px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #000000;
}

.post .title a {
	color: #000000;
	border: none;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.more {
	float: left;
	display: block;
	width: 120px;
	height: 23px;
	margin-right: 10px;
	padding: 2px 0px 0px 0px;
	background: url(images/img04.jpg) no-repeat left top;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #333333;
	
}

.comments {
	float: left;
	display: block;
	width: 120px;
	height: 23px;
	padding: 2px 0px 0px 0px;
	background: url(images/img04.jpg) no-repeat left top;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #333333;
	
}

hr.separador{
    border: none;
    border-bottom: 1px solid #E3E5E3;
}

/*Paginacion*/
.paginacion {
    padding-left: 40%;
    
}

/* Sidebar */

#sidebar {
	float: left;
	margin: 0px;
	padding: 40px 0px 0px 0px;
	color: #1A1A18;
        font-family: "Comic Sans MS", cursive, sans-serif;
}
#sidebar a:visited{
    color: #1A1A18;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li li:hover{
        background: #eee; 
}
#sidebar a:hover{
    text-decoration: none;
}
#sidebar h2 {
	height: 38px;
	letter-spacing: -.5px;
	font-size: 1.8em;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 0px;
	text-align: justify;
}
/* Footer */

#footer {
	width: 980px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0px 15px 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding: 0px 0px 0px 40px;
	line-height: normal;
	text-transform: capitalize;
	color: #A0A0A0;
}

#footer a {
	color: #8A8A8A;
}

/* Footer Menu */

#footer-menu {
	width: 960px;
	height: 60px;
	margin: 0px auto;
	padding: 0px 0px 0px 20px;
}

#footer-menu ul {
	margin: 0;
	padding: 30px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#footer-menu li {
	float: left;
}

#footer-menu a {
	display: block;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #8A8A8A;
	border-right: 1px solid #383838;
}

#footer-menu a:hover {
	color: #FFFFFF;
}

#footer-menu .current_page_item a {
	text-decoration: none;
}

#footer-menu .current_page_item a {
}

#registrar {
	border-collapse: separate;
	border-spacing: 10px 20px;
        margin-left: 100px;
}
#btnRegistro{
    margin-left: 35%;
}

#btnCancelarRegistro{
    margin-left: 20px;
}

#cancelar{
	margin-left: 50px;
}



#main ul{    
    list-style-type: none;
}
#main li {
    padding: 0px;
    width: auto; 
    height: auto;
}
#main li img {
    float: left;
    margin: 10px 10px 10px 10px;
}
#main td img.resize{
    height:180x;
    width:auto;
}
#main td img.resize{
    height:auto;
    width:200px;
}
#main td p {
    margin-left:0px;
    overflow: auto;
    width: 150px;
}
#main{
    width: 100%;
    padding-left: 5%;
}
#main td button {
    margin-left: 0px;
    float: right;  
}
#main td.descripcion{
    padding-left: 10%;
}
#main td.boton{
    padding-top: 20%;
}
#main tr:hover {
    background: #eee;
    cursor: initial;
}
#main tr.espacio:hover {
    background: none;
    cursor: initial;
}
#item li img {
    float: left;
    margin: 10px 10px 10px 10px;
}
#item img.resize{
    height:180px;
    width:auto;
}
#item img.resize{
    height:auto;
    width:200px;
}
#item p {
    margin-left:0px;
    float: right;
    overflow: auto;
    width: 350px;
}

#item button {
    margin-left: 0px;
    float: right;  
}

/*Publicar Imagen*/

#imagenProducto {
    margin-left : 10%;
    margin-bottom: 2%;
}

#botonImagen {
    margin-left : 18.5%;
    margin-bottom : 2%;
}

#formulario-publicar {
    border-collapse: separate;
    border-spacing: 10px 20px;
}

#botonPublicar {
    /*margin-left : 80%;*/
}
#main li img.resize_permuta{
    height:120px;
    width:auto;
}
#main li img.resize_permuta{
    height:auto;
    width:140px;
}
#main img.resize_permuta{
    height:120px;
    width:auto;
}
#main img.resize_permuta{
    height:auto;
    width:140px;
}


#main li img.resize_rechazar_aceptar{
    height:40px;
    width:auto;
}
#main li img.resize_rechazar_aceptar{
    height:auto;
    width:160px;
}

#miga{
    padding-left : 35px;
}

#recuperarContrasena{
    border-collapse: separate;
    border-spacing: 10px 20px;
    margin-left: 20%;
}

#editar{
     border-collapse: separate;
    border-spacing: 10px 20px;
    margin-left: 20%;
}

#btnEditar{
   margin-left: 35%; 
}

